*{
    Margin: 0;
    Padding: 0;
    Box-sizing: border-box;
}

Body{
    Padding: 20px;
    Background-color: white;
}

Header{
    Height: 100px;
    Width: 1200px;
    Margin: auto;
    Background-color: magenta;
}

main{
    Width: 1200px;
    Margin: auto;
}

.sezione1{
    Height: 500px;
    Background-color: rgb(224, 231, 84);
    Margin-top: 20px;
}

.wrap{
    width: 100%;
    Padding: 20px 0 20px 0;
    Background-color: rgb(19, 81, 225);
    content: "";
    display: table;
    clear: both;
}

Nav{ 
    Height: 65px;
    Width: 100%;
    margin-top: 20px;
    Background-color: lightblue;
}

Aside:first-child{
    float: left;
    Width: 20%;
    Height: 500px;
    Background-color: lightblue;
}

Aside:last-child{
    float: right;
    Width: 20%;
    Height: 500px;
    Background-color: lightblue;
}

.central{
    float: left;
    Width: 56%;
    Height: 500px;
    Margin: 0 20px 0 20px;
    Background-color: lightblue;
}

Footer{
    width: 1200px;
    Height: 45px;
    margin: auto;
    Margin-top: 5px;
    Background-color: purple;
}
